In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kargil,IN,2021-11-12 23:49:57,34.5667,76.1000,15.17,52,0,2.35
1,1,Souillac,MU,2021-11-12 23:49:57,-20.5167,57.5167,72.36,88,20,3.44
2,2,Ushuaia,AR,2021-11-12 23:49:58,-54.8000,-68.3000,51.46,62,40,8.05
3,3,Avera,US,2021-11-12 23:49:58,33.1940,-82.5271,59.54,37,0,4.59
4,4,San Quintin,MX,2021-11-12 23:49:59,30.4833,-115.9500,76.68,33,20,8.52

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,San Quintin,MX,2021-11-12 23:49:59,30.4833,-115.9500,76.68,33,20,8.52
5,5,Laguna,US,2021-11-12 23:49:59,38.4210,-121.4238,75.04,82,1,1.99
6,6,Aden,YE,2021-11-12 23:48:22,12.7794,45.0367,81.16,61,99,15.88
9,9,Port Hedland,AU,2021-11-12 23:50:01,-20.3167,118.5667,84.25,12,86,21.85
10,10,Kapaa,US,2021-11-12 23:50:02,22.0752,-159.3190,83.12,76,90,1.99
16,16,Hithadhoo,MV,2021-11-12 23:50:05,-0.6000,73.0833,81.54,76,40,11.05
17,17,Edd,ER,2021-11-12 23:50:05,13.9297,41.6925,83.91,45,25,17.98
24,24,Avarua,CK,2021-11-12 23:50:08,-21.2078,-159.7750,78.85,78,20,11.50
29,29,Tautira,PF,2021-11-12 23:50:10,-17.7333,-149.1500,84.22,63,63,9.75
33,33,Cabedelo,BR,2021-11-12 23:50:12,-6.9811,-34.8339,79.47,79,50,13.44

In [12]:
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4    San Quintin      MX     76.68  30.4833 -115.9500
5         Laguna      US     75.04  38.4210 -121.4238
6           Aden      YE     81.16  12.7794   45.0367
9   Port Hedland      AU     84.25 -20.3167  118.5667
10         Kapaa      US     83.12  22.0752 -159.3190
16     Hithadhoo      MV     81.54  -0.6000   73.0833
17           Edd      ER     83.91  13.9297   41.6925
24        Avarua      CK     78.85 -21.2078 -159.7750
29       Tautira      PF     84.22 -17.7333 -149.1500
33      Cabedelo      BR     79.47  -6.9811  -34.8339

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,San Quintin,MX,76.68,30.4833,-115.9500,Don Eddie's Sport Fishing Center
5,Laguna,US,75.04,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
6,Aden,YE,81.16,12.7794,45.0367,Sama Emirate Hotel
9,Port Hedland,AU,84.25,-20.3167,118.5667,The Esplanade Hotel
10,Kapaa,US,83.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
519,Tete,MZ,79.00,-16.1564,33.5867,Zambeze Paraíso Misterioso
521,Belawan,ID,77.29,3.7755,98.6832,Lilik Hidayat Pulungan
522,Poum,NC,78.73,-20.2333,164.0167,Gîte kajeon
537,Papetoai,PF,83.79,-17.4961,-149.8729,Fare Vaihere
538,San Pedro,PH,84.31,14.3500,121.0167,Villa Veronica Resort Private Pool

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))